body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* left menu */
#menuItems {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background-color: black;
}

/* nav items */
#menuItems button,
#menuItems a {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: blue;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
}

/* nav hover */
#menuItems button:hover,
#menuItems a:hover {
  background-color: #444;
}

/* jump menu */
#jumpMenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* show jump menu */
#recentArticles:hover + #jumpMenu,
#menuItems a[href="recent.html"]:hover + #jumpMenu {
  display: block;
}

#jumpMenu:hover {
  display: block;
}

#jumpMenu li a {
  background-color: #ddd;
  color: black;
  padding: 10px;
}

#jumpMenu li a:hover {
  background-color: #aaa;
  color: white;
}

/* header */
header {
  position: fixed;
  left: 15%;
  top: 0;
  width: 85%;
  background-color: red;
  text-align: center;
  padding: 30px;
}


main {
  margin-left: 15%;
  padding-top: 140px;
  padding-left: 20px;
}


article {
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: #999;
  transition: color 2s, transform 2s;
}

article:hover {
  color: #222;
  transform: scale(1.05);
}

/* first letter */
article p:first-of-type::first-letter {
  font-family: "Times New Roman";
  font-size: 36px;
}

/* link to google */
a[href^="https://www.google.com"] {
  background-image: url("arrowarrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

/* bottom thank you */
#thanks {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: lightblue;
  padding: 10px;
}
